In [1]:
import pandas as pd


features = pd.read_csv("https://raw.githubusercontent.com/Nitipatel1604/CummingsAssignment/main/features.csv")
train = pd.read_csv("https://raw.githubusercontent.com/Nitipatel1604/CummingsAssignment/main/train.csv")
stores = pd.read_csv("https://raw.githubusercontent.com/Nitipatel1604/CummingsAssignment/main/stores.csv")

In [2]:
print(stores)

    Store Type    Size
0       1    A  151315
1       2    A  202307
2       3    B   37392
3       4    A  205863
4       5    B   34875
5       6    A  202505
6       7    B   70713
7       8    A  155078
8       9    B  125833
9      10    B  126512
10     11    A  207499
11     12    B  112238
12     13    A  219622
13     14    A  200898
14     15    B  123737
15     16    B   57197
16     17    B   93188
17     18    B  120653
18     19    A  203819
19     20    A  203742
20     21    B  140167
21     22    B  119557
22     23    B  114533
23     24    A  203819
24     25    B  128107
25     26    A  152513
26     27    A  204184
27     28    A  206302
28     29    B   93638
29     30    C   42988
30     31    A  203750
31     32    A  203007
32     33    A   39690
33     34    A  158114
34     35    B  103681
35     36    A   39910
36     37    C   39910
37     38    C   39690
38     39    A  184109
39     40    A  155083
40     41    A  196321
41     42    C   39690
42     43    C   41062
43     44    C   39910
44     45    B  118221

In [3]:
print(train)

        Store  Dept        Date  Weekly_Sales  IsHoliday
0           1     1  2010-02-05      24924.50      False
1           1     1  2010-02-12      46039.49       True
2           1     1  2010-02-19      41595.55      False
3           1     1  2010-02-26      19403.54      False
4           1     1  2010-03-05      21827.90      False
...       ...   ...         ...           ...        ...
421565     45    98  2012-09-28        508.37      False
421566     45    98  2012-10-05        628.10      False
421567     45    98  2012-10-12       1061.02      False
421568     45    98  2012-10-19        760.01      False
421569     45    98  2012-10-26       1076.80      False

[421570 rows x 5 columns]

In [4]:
merged = pd.merge(train, features,  how='left', left_on=['Store','Date','IsHoliday'], right_on = ['Store','Date','IsHoliday'])
print(merged)

        Store  Dept        Date  Weekly_Sales  IsHoliday  Temperature  \
0           1     1  2010-02-05      24924.50      False        42.31
1           1     1  2010-02-12      46039.49       True        38.51
2           1     1  2010-02-19      41595.55      False        39.93
3           1     1  2010-02-26      19403.54      False        46.63
4           1     1  2010-03-05      21827.90      False        46.50
...       ...   ...         ...           ...        ...          ...
421565     45    98  2012-09-28        508.37      False        64.88
421566     45    98  2012-10-05        628.10      False        64.89
421567     45    98  2012-10-12       1061.02      False        54.47
421568     45    98  2012-10-19        760.01      False        56.47
421569     45    98  2012-10-26       1076.80      False        58.85

        Fuel_Price  MarkDown1  MarkDown2  MarkDown3  MarkDown4  MarkDown5  \
0            2.572        NaN        NaN        NaN        NaN        NaN
1            2.548        NaN        NaN        NaN        NaN        NaN
2            2.514        NaN        NaN        NaN        NaN        NaN
3            2.561        NaN        NaN        NaN        NaN        NaN
4            2.625        NaN        NaN        NaN        NaN        NaN
...            ...        ...        ...        ...        ...        ...
421565       3.997    4556.61      20.64       1.50    1601.01    3288.25
421566       3.985    5046.74        NaN      18.82    2253.43    2340.01
421567       4.000    1956.28        NaN       7.89     599.32    3990.54
421568       3.969    2004.02        NaN       3.18     437.73    1537.49
421569       3.882    4018.91      58.08     100.00     211.94     858.33

               CPI  Unemployment
0       211.096358         8.106
1       211.242170         8.106
2       211.289143         8.106
3       211.319643         8.106
4       211.350143         8.106
...            ...           ...
421565  192.013558         8.684
421566  192.170412         8.667
421567  192.327265         8.667
421568  192.330854         8.667
421569  192.308899         8.667

[421570 rows x 14 columns]

In [5]:
merged = pd.merge(merged, stores,  how='left', left_on=['Store'], right_on = ['Store'])
print(merged)

        Store  Dept        Date  Weekly_Sales  IsHoliday  Temperature  \
0           1     1  2010-02-05      24924.50      False        42.31
1           1     1  2010-02-12      46039.49       True        38.51
2           1     1  2010-02-19      41595.55      False        39.93
3           1     1  2010-02-26      19403.54      False        46.63
4           1     1  2010-03-05      21827.90      False        46.50
...       ...   ...         ...           ...        ...          ...
421565     45    98  2012-09-28        508.37      False        64.88
421566     45    98  2012-10-05        628.10      False        64.89
421567     45    98  2012-10-12       1061.02      False        54.47
421568     45    98  2012-10-19        760.01      False        56.47
421569     45    98  2012-10-26       1076.80      False        58.85

        Fuel_Price  MarkDown1  MarkDown2  MarkDown3  MarkDown4  MarkDown5  \
0            2.572        NaN        NaN        NaN        NaN        NaN
1            2.548        NaN        NaN        NaN        NaN        NaN
2            2.514        NaN        NaN        NaN        NaN        NaN
3            2.561        NaN        NaN        NaN        NaN        NaN
4            2.625        NaN        NaN        NaN        NaN        NaN
...            ...        ...        ...        ...        ...        ...
421565       3.997    4556.61      20.64       1.50    1601.01    3288.25
421566       3.985    5046.74        NaN      18.82    2253.43    2340.01
421567       4.000    1956.28        NaN       7.89     599.32    3990.54
421568       3.969    2004.02        NaN       3.18     437.73    1537.49
421569       3.882    4018.91      58.08     100.00     211.94     858.33

               CPI  Unemployment Type    Size
0       211.096358         8.106    A  151315
1       211.242170         8.106    A  151315
2       211.289143         8.106    A  151315
3       211.319643         8.106    A  151315
4       211.350143         8.106    A  151315
...            ...           ...  ...     ...
421565  192.013558         8.684    B  118221
421566  192.170412         8.667    B  118221
421567  192.327265         8.667    B  118221
421568  192.330854         8.667    B  118221
421569  192.308899         8.667    B  118221

[421570 rows x 16 columns]

In [8]:
merged.to_csv("Merged.csv")